.appbar {
    margin: 20px 100px 10px 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 3;
}

.header {
    font-size: large;
    font-weight: bold;
    margin: auto 20px;
}